.chord-block{
    position: absolute;
    top: 40%;
    background-color: #71c378;
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

.sequence-block{
    position: absolute;
    top: 40%;
    background-color: #7971c3;
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;

}

.sequence-tag{
    position: absolute;
    top: 35%;
    display: flex;
    background-color: #7971c3;
    box-sizing: border-box;
    border: 3px solid black;
    justify-content: space-evenly;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;

}

.section-tag{
    position: absolute;
    top: 30%;
    display: flex;
    background-color: #c37171;
    box-sizing: border-box;
    border: 3px solid black;
    justify-content:center;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

.section-block{
    position: absolute;
    top: 40%;
    background-color: #c37171;
    border-radius: 12px;
    border: 3px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}