.add-section {
  position: absolute;
  bottom: 18px;
  transform: TranslateY(50%);
}

.title-bar {
  padding: 8px 12px;
  font-weight: bold;
  background: #2a2a2a;
  border-bottom: 1px solid #444;
  color: white;
}

.button-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;          /* space between buttons */
  padding: 12px;     /* invisible container padding */
}

.popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #2b2b2b;
  border: 1px solid #555;
  color: white;
  cursor: pointer;
  text-align: left;
}

.popup-btn:hover {
  background: #3a3a3a;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background: #2b2b2b;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 6px 0;
  min-width: 180px;

  max-height: 120px;  
  overflow-y: auto;     
  scrollbar-width: thin;
  scrollbar-color: #555 #2b2b2b;
}

.submenu-item {
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.submenu-item:hover {
  background: #3a3a3a;
}

.submenu-bridge {
  position: absolute;
  top: 0;
  left: calc(100% - 24px); /* overlap the button by 6px */
  width: 20px;            /* wide enough to catch diagonal movement */
  height: 100%;
  background: transparent;
  z-index: 9998;
}

/* Vertical Menu*/
.add-section-top {
  position: absolute;
  top: 0;
  transform: Translate(-50%, -50%);

}
.button-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
}

/* SUBMENU ABOVE */
.submenu-top {
  position: absolute;
  bottom: 100%; /* appear above */
  background: #2b2b2b;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 6px 0;
  min-width: 150px;
  max-height: 120px;  
  overflow-y: auto;     
  scrollbar-width: thin;
  scrollbar-color: #555 #2b2b2b;
}

/* Invisible hover bridge ABOVE */
.submenu-bridge-top {
  position: absolute;
  bottom: calc(100% - 24px); /* overlap button */
  width: 150px;
  height: 20px;
  background: transparent;
}

.submenu-item {
  padding: 8px 12px;
  color: white;
  cursor: pointer;
}

.submenu-item:hover {
  background: #3a3a3a;
}
