.add-section-button{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: #02fec7;
    transition: background-color 0.15s ease;
    border-radius: 36px;
    border: 6px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    font-size: 56px;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.add-section-button:hover {
  background-color: #00af89; /* darker or lighter, your choice */
}

.add-section-insert{
    position: absolute;
    border-radius: 36px;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "'Anton', sans-serif";
    font-weight: 700;
    font-size: 56px;
    text-transform: "uppercase";
    letter-spacing: "1px";
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;

}

.insert-circle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  font-size: 16px;
  background-color: #02fec7;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease;
  cursor: pointer;
}

.insert-circle:hover {
  background-color: #00af89; /* darker or lighter, your choice */
}

.insert-line {
  height: 100px;
  width: 3px;
  background-color: #02fec7;
}